.widget{
    display: flex ;
    margin-right: 20px;
    justify-content: space-between;
    flex: 1;
    padding: 10px;

    -webkit-box-shadow: 5px 4px 13px -7px #000000; 
    box-shadow: 5px 4px 13px -7px #000000;
    border-radius: 10px;
    height: 100px;
    color: inherit;
    text-decoration: none;

    .left, 
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-style: 14px;
            color: rgb(169, 160, 160);
        }

        .counter{
            font-size : 28px;
            font-weight: 300px;
        }

        .link{
            width: max-content;
            font-size : 12px;
            border-bottom: 1px solid gray;
        }

        .percentage{
            display: flex;
            align-items: center;
            font-size : 14px;

            &.positive{
                color: green;
            }
            &.negative{
                color: red;
            }
        }

        .icon{
            font-style: 18px;
            padding: 5px; 
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}
