.table {
    width: 100%;
    .cellWrapper {
        display: flex;
        align-items: center;

        .image {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }      
    }
    
    .status {
        padding: 5px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 0.85rem;

        &.delivered {
            color: #047857;
            background-color: rgba(16, 185, 129, 0.15);
        }
        &.pending {
            color: #b45309;
            background-color: rgba(249, 115, 22, 0.15);
        }
    }
}
